/**
 *  2016-10-09 @ Bob.wu    
 */

@color1: #ff852c;
@color2: #dddddd;
@color3: #f6f6f6;

.color1{
    color: @color1;
    font-family: "微软雅黑";
}
.nonDecoration{
    text-decoration: none;
}
.decoration{
    text-decoration: underline;
}
.border{
    border: 1px solid #FF852C;
}
.closeWinIco{
    /* 关闭 窗口按钮 */
   display: inline-block;
   height: 10px;
   width: 10px;
   background: url(../images/close.png) no-repeat;
}
hr{
    border:none;
    border-bottom: 1px solid #DDDDDD;
}
.dash{
    border-style: dashed;
}
.font16{
    font-size: 16px;
}
.clear{
    clear:both;
}
.right{
    float: right;
}
.left{
    float: left;
}
.hide{
    display: none;
}
input, textarea{
    line-height: 2em;
    padding-left: 5px;
}
.justify{
    text-align: justify;
    text-align-last: justify;
    display:  block;
    float:  left;
}
.noPadding{
    padding: 0px !important;
}
.downico{
    /* 下载图标 */
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url(../image/download.png);
    background-size: cover;
    margin-right: 7px;
}
.emphasize_ico{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image:  url(../images/emphasize_ico.png);
    background-size: cover;
    background-repeat:  no-repeat;
}
textarea{
    resize: none;
}
.bg_rgba(@rgba_color: rgba(0,0,0,0.3)){
    /* IE8- 不支持 rgba 
     * 只适用于背景色
     * */
    background-color: @rgba_color;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType="1", StartColorStr=argb(@rgba_color),EndColorStr=argb(@rgba_color));
}
.pop_win{
    /* 弹窗  */
   position: fixed;
   top: 0px;
   left: 0;
   z-index: 1000;
   width: 100%;
   height: 100%;
   background-color: .bg_rgba();
   text-align: center;
    >div{
        position: relative;
        margin: auto;
        width: 600px;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0px 2px 4px 0px rgba(204, 204, 204, 0.5);
        .con{
        /* 所有弹窗，最大高度：580px
         * 如果分为三层：header, con, footer
         * 则中间层的最大高度：460px
         *  */
            max-height: 460px;
            margin:auto;
        }
        .header{
        height: 50px;
        line-height: 50px;
        background-color: #F6F6F6;
        font-size: 16px;
        color: #333333;
        padding: 0 20px;
        }
        .footer{
        padding-top: 10px;
        padding-bottom: 24px;
        text-align: center;
        button:first-child{
                margin-right: 20px;
            }
        }
        .con{
            padding-right: 19px;
            padding-left:  30px;
            margin-right: 11px;
        }
    }
}
button, .btn{
padding: 0.4em 1em;
box-sizing:  border-box;
border-radius: 16px;
border: 1px solid @color1;
color: @color1;
background-color: transparent;
font-family: "微软雅黑";
cursor: pointer;
min-width: 100px;
}
.btn{
    border-radius: 2px;
}
button.cur{
    background: @color1;
    color: white;
}
.noClickBtn{
    border-color:  #DDDDDD;
    background-color:  #DDDDDD;
    color:  white;
}
