/* 阿里字体图标 */
@font-face {
	font-family: 'iconfont';
    /* IE9*/
    src: url('iconfont/iconfont.eot');
    /* IE6-IE8 */
    src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), 
    /* chrome、firefox */
    url('iconfont/iconfont.woff') format('woff'), 
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont/iconfont.ttf') format('truetype'),
    /* iOS 4.1- */
    url('iconfont.svg#iconfont') format('svg'); 
}                
.iconfont{
    font-family:"iconfont" !important;
    font-size:1em;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/* 垂直水平对齐 */
.align-hv{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

/* 涟漪 */
.point{
    border: 2px solid green;
    border-radius: 50%;
    -webkit-animation: ripple 4.5s ease-out 0.2s infinite;
            animation: ripple 4.5s ease-out 0.2s infinite;
}
/* 涟漪动画 */
@-webkit-keyframes ripple{
    0%{ opacity: 0; transform: scale(.1); -webkit-transform: scale(.1);}
    5%{ opacity: 1; }
    100%{ opacity: 0; transform: scale(1);  -webkit-transform: scale(1);}
}
@keyframes ripple{
    0%{ opacity: 0; transform: scale(.1);  -webkit-transform: scale(.1);}
    5%{ opacity: 1; }
    100%{ opacity: 0; transform: scale(1);  -webkit-transform: scale(1);}
}
